.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-sign {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
}

.character-list {
    /* max-width: 50%; */
}

.character {
    border: 1px black solid;
    /* background-color: aquamarine; */
    font-size: 1.3rem;
}

.character-icon {
    min-width: 70%;
}