
body {
    background-image: url('/public/img/fundo-cavalo.png');
    background-size: cover;
    background-position: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-character {
    background-image: url("/public/img/fundo-pergaminho.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-section {
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    margin: auto 0;
}

.character-icon {
    width: 10rem;
}

.small-input {
    width: 30%;
}

.button-navigator {
    width: 100vw;
    gap: 30vw;
}
