@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Jost:ital,wght@0,400;0,600;1,600&display=swap');

* {
    /* padding: 0;
    margin: 0; */
    font-family: 'Jost', sans-serif;
}

.page {
    min-height: 100vh;
}

a {
    color: red;
}

h1 {
    font-family: 'Alkalami', serif;
    color: red;
}