@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Jost:ital,wght@0,400;0,600;1,600&display=swap');

* {
    /* padding: 0;
    margin: 0; */
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}

.page {
    min-height: 100vh;
}

body {
    max-width: 2000px;
}

a {
    color: red;
}

h1 {
    font-family: 'Alkalami', serif;
    color: red;
}

img {
    width: 100%;
}

input {
    width: 100%;
}

.vertical-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 10rem;
}