.landing-image {
    background-image: url(/public/img/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landing-about-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.landing-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}