<div class="container-fluid">
    <div class="row page">
        <div class="col-sm-6 align-middle landing-about-wrapper">
            <div></div>
            <div class="landing-about">
                <h1>Seja bem vindo ao Tadeu!</h1>
                <div>Crie suas fichas para o RPG de mesa
                    "<a href="" class="link">O Som das Seis</a>"
                    virtualmente!</div>
                <a class="btn btn-danger" href="/characters/characters" role="button">Crie o seu personagem</a>
            </div>
            <div></div>
            <div class="credits">
                Feito com ❤ por Guilherme, Frederico e Rodrigo
            </div>
        </div>
        <div class="col-sm-6 landing-image"></div>
    </div>
</div>