<div class="tab-pane invisible" id="section3" role="tabpanel">
    <div class="container text-center">
        <h3>Antecedentes</h3>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-combate">Combate: </label>
                    <input type="number" class="form-control" id="character-combate" name="character-combate">
                </div>
                <div class="form-group">
                    <label for="character-negocios">Negócios: </label>
                    <input type="number" class="form-control" id="character-negocios" name="character-negocios">
                </div>
                <div class="form-group">
                    <label for="character-montaria">Montaria: </label>
                    <input type="number" class="form-control" id="character-montaria" name="character-montaria">
                </div>
                <div class="form-group">
                    <label for="character-tradicao">Tradição: </label>
                    <input type="number" class="form-control" id="character-tradicao" name="character-tradicao">
                </div>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-exploracao">Exploração: </label>
                    <input type="number" class="form-control" id="character-exploracao" name="character-exploracao">
                </div>
                <div class="form-group">
                    <label for="character-roubo">Roubo: </label>
                    <input type="number" class="form-control" id="character-roubo" name="character-roubo">
                </div>
                <div class="form-group">
                    <label for="character-medicina">Medicina: </label>
                    <input type="number" class="form-control" id="character-medicina" name="character-medicina">
                </div>
                <div class="form-group">
                    <label for="character-labuta">Labuta: </label>
                    <input type="number" class="form-control" id="character-labuta" name="character-labuta">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group ">
                    <label for="character-recompensa">Recompensa: </label>
                    <input type="number" class="form-control" id="character-recompensa" name="character-recompensa">
                </div>
            </div>
        </div>

        <h3>Habilidades</h3>
        <div class="container form-check vertical-scroll" id="habilidades">
            <div class="row">
                <div class="col-4">Ativa</div>
                <div class="col-8">Habilidade</div>
            </div>
            <!-- Preenchido pelo /public/create.js -->
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <button type="button" class="btn btn-light" onclick="handleBackSection()">Anterior</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-dark" onclick="handleNextSection()">Próximo</button>
        </div>
    </div>
</div>