<div class="tab-pane invisible" id="section4" role="tabpanel">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h2>Equipamentos</h2>
            </div>
            <div class="col-3">
                <h2>Dano</h2>
            </div>
        </div>
        <div class="row vertical-scroll">
            <div class="col-9 form-group">
                <% for( let i=0; i < 10; i++ ) { %>
                    <input type="text" class="form-control" id="<%-`item-${i}`%>" name="<%-`item-${i}`%>">
                    <% } %>
            </div>
            <div class="col-3 form-group">
                <% for( let i=0; i < 10; i++ ) { %>
                    <input type="text" class="form-control" id="<%-`item-dmg-${i}`%>" name="<%-`item-dmg-${i}`%>">
                    <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <div class="form-group">
                    <input type="checkbox" class="form-control" id="character-has-horse" name="character-has-horse">
                    <label for="has-horse">O personagem tem cavalo?</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="character-dinheiro">Dinheiro: </label>
                    <input type="number" class="form-control" id="character-dinheiro" name="character-dinheiro">
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-6">
            <button type="button" class="btn btn-light" onclick="handleBackSection()">Anterior</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-dark" onclick="handleNextSection()">Próximo</button>
        </div>
    </div>
</div>