<div class="tab-pane invisible" id="section5" role="tabpanel">
    <h1>TAB 5</h1>

    <div class="row text-center">
            <div class="col-6">
                <button type="button" class="btn btn-light" onclick="handleBackSection()">Anterior</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-dark" onclick="handleNextSection()">Próximo</button>
            </div>
        </div>
</div>
