<div class="tab-pane invisible" id="section5" role="tabpanel">
    <h1>TAB 5</h1>

    <div
        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
        <button onclick="handleBackSection()">Anterior</button>
        <button onclick="handleNextSection()">Próximo</button>
    </div>
</div>
