<div class="container-fluid">
    <div class="row welcome">
            <div class="welcome-sign">
                Você ainda precisa criar seu primeiro personagem!
                <a class="btn btn-primary" href="/create" role="button">Crie o seu personagem</a>
            </div>
    </div>
</div>