<div style="background-image: url(/public/img/fundo-cavalo.png);">
    <div class="page mx-auto d-flex flex-column align-center">
        <div class="form-section d-flex flex-column align-center">
            <div class="tab-content" id="create-character-tabs">
                <div class="tab-pane show active flex-column" id="section1" role="tabpanel">
                    <div class="row w-50">
                        <div class="col character-image">
                            <label for="character-image">
                                <img src="/public/svg/character-icon-template.svg" alt="Character icon"
                                    class="character-icon">
                                <input type="file" id="chracter-image" hidden>
                            </label>
                        </div>
                        <div class="row-justify-content-around">
                            <div class="col-auto p-2">
                                <label for="character-name">Nome: </label>
                                <input type="text" id="character-name" placeholder="Digite o seu nome...">
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="character-level">Nível: </label>
                                    <input type="number" id="character-level">
                                </div>
                                <div class="col-2">
                                    <label for="character-xp">XP: </label>
                                    <input type="number" id="character-xp">
                                </div>
                            </div>
                        <div class="row-justify-content-around p-2">
                            <label for="tormento">Tormento</label>
                            <select id="tormento" onchange="updateSubtormentos(this)">
                                <option value="1" selected>Vingança</option>
                                <option value="2">Vingança</option>
                                <option value="3">Vingança</option>
                                <option value="4">Vingança</option>
                                <option value="5">Vingança</option>
                                <option value="6">Vingança</option>
                            </select>
                        </div>
                        <div class="row-justify-content-around p-2">
                            <label for="subtormento">Subtormento</label>
                            <select id="subtormento">
                            </select>
                        </div>
                    </div>
                    </div>
                    <div
                        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
                        <button onclick="handleBackSection()">Anterior</button>
                        <button onclick="handleNextSection()">Próximo</button>
                    </div>
                </div>
                <div class="tab-pane invisible" id="section2" role="tabpanel">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-1">
                                <label for="character-def">DEF: </label>
                                <input type="number" id="character-def">
                            </div>
                            <div class="col-1">
                                <label for="character-pv">PV: </label>
                                <input type="number" id="character-pv">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-1">
                                <label for="character-ini">Iniciativa: </label>
                                <input type="number" id="character-ini">
                            </div>
                            <div class="col-1">
                                <label for="character-actions">Ações: </label>
                                <input type="number" id="character-actions">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center p-2">
                            <h3>Atributos</h3>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-1">
                                <label for="character-phy">Fisico: </label>
                                <input type="number" id="character-phy">
                            </div>
                            <div class="col-1">
                                <label for="character-crg">Coragem: </label>
                                <input type="number" id="character-crg">
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-1">
                                <label for="character-int">Inteligência: </label>
                                <input type="number" id="character-int">
                            </div>
                        
                            <div class="col-1">
                                <label for="character-agl">Ações: </label>
                                <input type="number" id="character-actions">
                            </div>
                        </div>
                    </div>
                    <div
                        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
                        <button onclick="handleBackSection()">Anterior</button>
                        <button onclick="handleNextSection()">Próximo</button>
                    </div>
                </div>
                <div class="tab-pane invisible" id="section3" role="tabpanel">
                    <div class="col">
                        <div class="row d-flex justify-content-center">
                            <h3>Antecedentes</h3>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <div class="col-1">
                                <div class="row">
                                    <label for="character-combate">Combate: </label>
                                    <input type="number" id="character-combate">
                                </div>
                                <div class="row">
                                    <label for="character-neg">Negócios: </label>
                                    <input type="number" id="character-neg">
                                </div>
                                <div class="row">
                                    <label for="character-montaria">Montaria: </label>
                                    <input type="number" id="character-montaria">
                                </div>
                                <div class="row">
                                    <label for="character-trad">Tradição: </label>
                                    <input type="number" id="character-trad">
                                </div>
                            </div>
                        <div class="col-1">
                            <div class="row">
                                <label for="character-expl">Exploração: </label>
                                <input type="number" id="character-expl">
                            </div>
                            <div class="row">
                                <label for="character-roubo">Roubo: </label>
                                <input type="number" id="character-roubo">
                            </div>
                            <div class="row">
                                <label for="character-med">Medicina: </label>
                                <input type="number" id="character-med">
                            </div>
                            <div class="row">
                                <label for="character-labuta">Labuta: </label>
                                <input type="number" id="character-labuta">
                        </div>
                    </div>
                </div>
                </div>
                    <div class="row d-flex justify-content-center p-3">
                        <div class="col-1">
                        <label for="character-recompensa">Recompensa: </label>
                        <input type="number" id="character-recompensa">
                    </div>
                </div>
                    <div class="row d-flex justify-content-center p-3">
                        <label for="character-hab-1">Habilidade 1: </label>
                        <select id="character-hab-1">
                        </select>
                    </div>
                    <div class="row d-flex justify-content-center p-3">
                        <label for="character-hab-2">Habilidade 2: </label>
                        <select id="character-hab-2"></select>
                    </div>

                    <div
                        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
                        <button onclick="handleBackSection()">Anterior</button>
                        <button onclick="handleNextSection()">Próximo</button>
                    </div>
                </div>
                <div class="tab-pane invisible" id="section4" role="tabpanel">
                    <h1>TAB 4</h1>

                    <div
                        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
                        <button onclick="handleBackSection()">Anterior</button>
                        <button onclick="handleNextSection()">Próximo</button>
                    </div>
                </div>
                <div class="tab-pane invisible" id="section5" role="tabpanel">
                    <h1>TAB 5</h1>

                    <div
                        class="row d-flex flex-row pt-2 mx-auto justify-content button-navigator justify-content-center">
                        <button onclick="handleBackSection()">Anterior</button>
                        <button onclick="handleNextSection()">Próximo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/create.js"> </script>
